body {
    background-color: #DAF9FF;
    color: #373E40;
    font-family: monospace
}

h1, 
h2 {
    color: #1B1F20;
    background-color: #F9FFDA;
    font-weight: bolder
}

h3 {
    color: #1B1F20;
    font-style: italic;
    font-weight: bolder;
    line-height: 22px;
}

ul, 
ol {
    color: #1B1F20;
}

li {
    color: #1B1F20;
    line-height: 22px;
}


